body {
    background-color: black;
}

#box {
    background-image: url('images/palette.png');
    border: 2px white solid;
    padding: 1%;
    width: 98%;
    height: 100%;
}

button {
    width: 10%;
    padding: 0.5%;
    background-color: black;
    border: 2px white solid;
    color: white;
    text-align: center;
}

#box2 {
    text-align: center;
}

.topLeft {
    margin-right: 39.5%;
}

.topRight {
    margin-left: 39.5%;
}

#box3 {
    background-color: black;
    border: 2px white solid;
    text-align: center;
    padding: 1%;
    margin: 1%;
}

h1 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
    text-align: left;
}

#box4 {
    text-align: center;
    margin-top: 5%;
    margin-bottom: 2.5%;
}

.b2 {
    width: 17%;
    padding: 6.4%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 7.4%;
    font-size: 15px;
    font-weight: bold;
}

button:hover {
    background-color: white;
    border-color: black;
    color: black;
    transition-duration: 0.5s;
}

.b2:hover {
    border-color: black;
    color: black;
}

.o1:hover {
    background-color: rgb(255, 0, 0);
}

.o2:hover {
    background-color: rgb(0, 255, 0);
}

.o3:hover {
    background-color: rgb(0, 0, 255);
}

.o4:hover {
    background-color: rgb(255, 255, 0);
}

.o5:hover {
    background-color: rgb(255, 0, 255);
}

.b3:hover {
    border-color: black;
    color: black;
    background-color: rgb(0, 255, 255);
}

button:active {
    background-color: red;
}