#box {
    background-image: url('images/palette.png');
    border: 2px black solid;
    padding: 1%;
    width: 98%;
    height: 100%;
}

button {
    width: 10%;
    padding: 0.5%;
    background-color: white;
    border: 2px black solid;
    color: black;
}

.topLeft {
    text-align: left;
    margin-top: -2.6%;
    
}

.topRight {
    text-align: right;
}

#box2 {
    background-color: white;
    border: 2px black solid;
    text-align: center;
    padding: 1%;
    margin-top: 15%;
    margin-bottom: 15%;
}

h1 {
    color: white;
    text-align: center;
}

h3 {
    color: white;
}
